<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><script>var seatype="video"; var seaid=88590;</script><script src="../js/seajump.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>被老公好友幹到爽翻天...步實莉花-强奸乱伦-亚洲AV国产AV手机在线_亚洲 欧美 日韩 一区_亚洲av国产有码_2019国产成 人 综合 动漫 亚洲免费视频</title>
<meta name="keywords" content="被老公好友幹到爽翻天...步實莉花">
<meta name="description" content="被老公好友幹到爽翻天...步實莉花-强奸乱伦-亚洲AV国产AV手机在线_亚洲 欧美 日韩 一区_亚洲av国产有码_2019国产成 人 综合 动漫 亚洲免费视频">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform">
<meta name="applicable-device" content="pc,mobile">
<link href="../templets/seozhanqun/images/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../templets/seozhanqun/images/css/swiper.min.css" rel="stylesheet" type="text/css">
<link href="../templets/seozhanqun/images/css/style.css" rel="stylesheet" type="text/css">
<link href="../templets/seozhanqun/images/css/white.css" rel="stylesheet" type="text/css">
<link href="../templets/seozhanqun/images/css/mm-content.css" rel="stylesheet" type="text/css">
<link href="../templets/seozhanqun/images/css/mp4.css" rel="stylesheet" type="text/css">
</head>
<body>
<div align="center">
<script language="javascript" src="../seo/gg.js"></script>
</div>
<div class="container">
<div class="row">
<div class="layout-box clearfix">
<div class="box-title">
<table width="100%" border="0">
<tr>
<td><a href="../Index.html" title="亚洲AV国产AV手机在线_亚洲 欧美 日韩 一区_亚洲av国产有码_2019国产成 人 综合 动漫 亚洲免费视频"><div style="color:#ff0;font-size:20px;">网站首页</div></a></td>
<td><div align="right"><form name="formsearch" id="formsearch" action="/search.php" method="post" autocomplete="off">
<input id="searchword" name="searchword" class="search-input" placeholder="任君搜索.." type="text">&nbsp;
<input id="searchbutton" class="search-button" value="搜 索" type="submit">
</form></div></td>
</tr>
</table>
</div></div></div></div>
<div id="alltop" align="center">
</div>
<div class="mm-content">
<div class="row">

<div class="row-item odd">
<div class="row-item-title bg_blue"><a href="../Index.html">视频一区</a></div>
<ul class="row-item-content">

<li class="item"><a href="../list/index1.html">国产精品</a></li>

<li class="item"><a href="../list/index2.html">日韩无码</a></li>

<li class="item"><a href="../list/index3.html">日韩精品</a></li>

<li class="item"><a href="../list/index4.html">欧美精品</a></li>

<li class="item"><a href="../list/index5.html">中文字幕</a></li>

<li class="item"><a href="../list/index6.html">人妻系列</a></li>

<li class="item"><a href="../list/index7.html">强奸乱伦</a></li>

<li class="item"><a href="../list/index8.html">动漫精品</a></li>

</ul>
</div>
<div class="row-item even">
<div class="row-item-title bg_blue"><a href="../Index.html">视频二区</a></div>
<ul class="row-item-content">

<li class="item"><a href="../list/index9.html">伦理影片</a></li>

<li class="item"><a href="../list/index10.html">制服诱惑</a></li>

<li class="item"><a href="../list/index11.html">自拍偷拍</a></li>

<li class="item"><a href="../list/index12.html">有码视频</a></li>

<li class="item"><a href="../list/index13.html">3P合辑</a></li>

<li class="item"><a href="../list/index14.html">巨乳系列</a></li>

<li class="item"><a href="../list/index15.html">颜射系列</a></li>

<li class="item"><a href="../list/index16.html">口交视频</a></li>

</ul>
</div>
<div class="row-item odd">
<div class="row-item-title bg_blue"><a href="../Index.html">视频三区</a></div>
<ul class="row-item-content">

<li class="item"><a href="../list/index17.html">自慰系列</a></li>

<li class="item"><a href="../list/index18.html">SM重味</a></li>

<li class="item"><a href="../list/index19.html">教师学生</a></li>

<li class="item"><a href="../list/index20.html">大秀视频</a></li>

<li class="item"><a href="../list/index21.html">国产自拍</a></li>

<li class="item"><a href="../list/index22.html">无码视频</a></li>

<li class="item"><a href="../list/index23.html">日韩有码</a></li>

<li class="item"><a href="../list/index24.html">欧美性爱</a></li>

</ul>
</div>
<div class="row-item even">
<div class="row-item-title bg_blue"><a href="../Index.html">视频四区</a></div>
<ul class="row-item-content">

<li class="item"><a href="../list/index25.html">成人动漫</a></li>

<li class="item"><a href="../list/index26.html">经典伦理</a></li>

<li class="item"><a href="../list/index27.html">中文字幕</a></li>

<li class="item"><a href="../list/index28.html">一本道</a></li>

<li class="item"><a href="../list/index29.html">东京热</a></li>

<li class="item"><a href="../list/index30.html">JAVHD</a></li>

<li class="item"><a href="../list/index31.html">亚洲在线</a></li>

<li class="item"><a href="../list/index32.html">女女视频</a></li>

</ul>
</div>
<div class="row-item odd">
<div class="row-item-title bg_blue"><a href="../Index.html">视频五区</a></div>
<ul class="row-item-content">

<li class="item"><a href="../list/index33.html">群交视频</a></li>

<li class="item"><a href="../list/index34.html">福利视频</a></li>

<li class="item"><a href="../list/index35.html">VR视频</a></li>
<script language="javascript" src="../seo/tips.js"></script>
</ul>
</div>
  
<script language="javascript" src="../seo/dh.js"></script>
 
</div></div>
<div id="top" align="center">
</div>
<div class="container">
<div class="row">
<div class="clearfix p-0 m-0">
<div class="box-title">
<h3 class="m-0"><a href='../Index.html'>首页</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;<a href='../list/index7.html'>强奸乱伦</a>&nbsp;&raquo;&nbsp;被老公好友幹到爽翻天...步實莉花</h3>
</div>
<div id="wrap">
<div id="main">
<div class="container2">
<div class="movie">
<div class="col-md-9"><img src="../upload/vod/20190816-1/7d88de5c2300252df7e13a567cd09bd3.jpg" title="被老公好友幹到爽翻天...步實莉花"></div>
<div class="info">
<p><span class="header">类别：</span><a href="../list/index7.html">强奸乱伦</a></p>
<p><span class="header">日期：</span>2019-08-17 10:31</p>
<script language="javascript" src="../seo/wenzi.js"></script>
</div>
</div>
</div>
<div class="endpage clearfixpage">
<div class="mox" id="mp4play">
<div class="title"><span><img src="../templets/seozhanqun/images/bofang.gif">播放列表</span><p><span id="dyplayTxt"></span></p></div>
<div class="play-list">

<li><a title='在线播放' href='javascript:window.open('http://www.eeee96.com/play/index88590-0-0.html');' target="_self">在线播放</a></li>


</div>
</div>
<div class="mox">
<div class="title"><span><img src="../templets/seozhanqun/images/down.gif">APP下载</span><p><span id="dyplayTxt"></span></p></div>
<div class="play-list">
<script language="javascript" src="../seo/app.js"></script>
</div>
</div>
</div>
</div>
</div>
<div align="center">
<script language="javascript" src="../seo/neiye.js"></script>
</div>
<div class="clearfix p-0 m-0">
<div class="col-md-9 col-sm-12 col-xs-12 player_left max">
<div class="layout-box clearfix">
<div class="box-title">
<h3 class="m-0">相关视频</h3>
</div>
<div class="swiper-container vod-swiper-5">
<ul class="clearfix">

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../upload/vod/2019-04-10/15549029875.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index21170.html');" title="高素质情侣居家自拍日常生活记录影像被美女掏空的帅哥第一部">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index21170.html');" title="高素质情侣居家自拍日常生活记录影像被美女掏空的帅哥第一部">高素质情侣居家自拍日常生活记录影像被美女掏空的帅哥第一部</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【自拍偷拍】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../pic/upload/vod/2019-01-07/201901071546859172.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index61987.html');" title="Michelle L 1 Chinese White Man Expat	">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index61987.html');" title="Michelle L 1 Chinese White Man Expat	">Michelle L 1 Chinese White Man Expat	</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【国产自拍】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../pic/upload/vod/2018-10-03/201810031538565040.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index53803.html');" title="嫩妻在家拍片干给你看 河南实里">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index53803.html');" title="嫩妻在家拍片干给你看 河南实里">嫩妻在家拍片干给你看 河南实里</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【日韩有码】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../pic/upload/vod/2018-03-05/201803051520252903.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index38692.html');" title="丝袜朵儿假期天天爽">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index38692.html');" title="丝袜朵儿假期天天爽">丝袜朵儿假期天天爽</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【国产自拍】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../upload/vod/2019-08-11/156546506911.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index87364.html');" title="【少女】大奶稚nen妹穿開襠黑絲情趣被內射 小公主爆乳黑絲誘惑">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index87364.html');" title="【少女】大奶稚nen妹穿開襠黑絲情趣被內射 小公主爆乳黑絲誘惑">【少女】大奶稚nen妹穿開襠黑絲情趣被內射 小公主爆乳黑絲誘惑</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-08-11</div></td>
<td><div align="right">【日韩无码】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../pic/upload/vod/2017-12-14/201712141513254341.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index33857.html');" title="浴室添B第二部">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index33857.html');" title="浴室添B第二部">浴室添B第二部</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【国产自拍】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../upload/vod/2018-12-15/154488779417.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index5287.html');" title="糟糕复仇的黑暗网站 2">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index5287.html');" title="糟糕复仇的黑暗网站 2">糟糕复仇的黑暗网站 2</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【动漫精品】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../pic/upload/vod/2019-04-03/201904031554307098.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index68752.html');" title="Real aussie gfriend bangs">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index68752.html');" title="Real aussie gfriend bangs">Real aussie gfriend bangs</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【欧美性爱】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../pic/upload/vod/2019-02-06/201902061549451443.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index64687.html');" title="喷血推荐-稀有房偷拍性感苗条女神级大学美女被男友操">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index64687.html');" title="喷血推荐-稀有房偷拍性感苗条女神级大学美女被男友操">喷血推荐-稀有房偷拍性感苗条女神级大学美女被男友操</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【国产自拍】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../pic/upload/vod/2017-07-16/15002199233.png) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index26131.html');" title="生ハメAV女優前田由美～昇天オナニ">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index26131.html');" title="生ハメAV女優前田由美～昇天オナニ">生ハメAV女優前田由美～昇天オナニ</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【JAVHD】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../pic/upload/vod/2018-05-17/152654556319.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index24453.html');" title="出戻り三姉妹と义父と隣の亲父 理由あり女の放っておけない无防备なカラダ">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index24453.html');" title="出戻り三姉妹と义父と隣の亲父 理由あり女の放っておけない无防备なカラダ">出戻り三姉妹と义父と隣の亲父 理由あり女の放っておけない无防备なカラダ</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【中文字幕】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../upload/vod/20190718-1/f3a90698c6e1c0ef1472cb2d913495bc.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index82421.html');" title="精品特色酒店偷拍漂亮白嫩美女迫切想要男友还没脱衣服就被她扑倒摸鸡鸡,洗完澡又吃鸡巴挑逗,干爽后老实了!">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index82421.html');" title="精品特色酒店偷拍漂亮白嫩美女迫切想要男友还没脱衣服就被她扑倒摸鸡鸡,洗完澡又吃鸡巴挑逗,干爽后老实了!">精品特色酒店偷拍漂亮白嫩美女迫切想要男友还没脱衣服就被她扑倒摸鸡鸡,洗完澡又吃鸡巴挑逗,干爽后老实了!</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-07-19</div></td>
<td><div align="right">【国产精品】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../pic/upload/vod/2017-07-31/201707311501496223.png) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index29403.html');" title="生ハメフェラ三昧～佐々木マリア">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index29403.html');" title="生ハメフェラ三昧～佐々木マリア">生ハメフェラ三昧～佐々木マリア</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【JAVHD】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../upload/vod/2019-04-25/155616575511.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index22133.html');" title="【日韩精选】ねっとりベロチュー、みっちりセックス～あんりをじっくり弄んで～">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index22133.html');" title="【日韩精选】ねっとりベロチュー、みっちりセックス～あんりをじっくり弄んで～">【日韩精选】ねっとりベロチュー、みっちりセックス～あんりをじっくり弄んで～</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-19</div></td>
<td><div align="right">【日韩精品】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../upload/vod/20190627-1/6bba9944e74b565f7d7d82d7a6f90dd6.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index79345.html');" title="酒店偷拍高颜值魔鬼身材极品长腿模特约炮网友酒店住了2天不知道被干了多少次">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index79345.html');" title="酒店偷拍高颜值魔鬼身材极品长腿模特约炮网友酒店住了2天不知道被干了多少次">酒店偷拍高颜值魔鬼身材极品长腿模特约炮网友酒店住了2天不知道被干了多少次</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-07-04</div></td>
<td><div align="right">【国产精品】</div></td>
</tr>
</table>
</li>

<li class="col-md-2 col-sm-3 col-xs-4 ">
<a class="video-pic loading" style="background: url(../pic/upload/vod/2018-12-02/201812021543748640.jpg) no-repeat; background-position:50% 50%; background-size: cover;" href="javascript:window.open('http://www.eeee96.com/view/index58899.html');" title="【有码中文】回春按摩经验20年 奇蹟美魔女G奶按摩师 山本さゆり38歳 AV出道	">
<span class="player"></span>
<span class="note text-bg-r"></span>
</a>
<div class="title"><h5 class="text-overflow"><a href="javascript:window.open('http://www.eeee96.com/view/index58899.html');" title="【有码中文】回春按摩经验20年 奇蹟美魔女G奶按摩师 山本さゆり38歳 AV出道	">【有码中文】回春按摩经验20年 奇蹟美魔女G奶按摩师 山本さゆり38歳 AV出道	</a></h5></div>
<table width="100%" border="0">
<tr>
<td><div align="left">2019-05-13</div></td>
<td><div align="right">【中文字幕】</div></td>
</tr>
</table>
</li>

</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="allbottom" align="center">
</div>
<div class="row">
<div class="box-footer clearfix">
<div class="container">
<p class="m-0 text-muted">
警告：本网站只适合十八岁或以上人士浏览.No Entry For Less Than 18-Year-Old.<br>
站点申明：我们立足于美利坚合众国，对全球华人服务，受北美法律保护，请遵守当地法律法规不要随意转播！<br>
[亚洲AV国产AV手机在线_亚洲 欧美 日韩 一区_亚洲av国产有码_2019国产成 人 综合 动漫 亚洲免费视频] &copy; 2019 All Rights Reserved.
</p>
</div>
</div>
</div>
<div style="display:none">
<script language="javascript" src="../seo/tj.js"></script>
<div id="tempalltop">
<script src="../seo/alltop.js"></script>
</div>
<script type="text/javascript">document.getElementById("alltop").innerHTML = document.getElementById("tempalltop").innerHTML;
document.getElementById("tempalltop").innerHTML = "";</script>
<div id="temptop">
<script src="../seo/top.js"></script>
</div>
<script type="text/javascript">document.getElementById("top").innerHTML = document.getElementById("temptop").innerHTML;
document.getElementById("temptop").innerHTML = "";</script>
<div id="tempallbottom">
<script src="../seo/allbottom.js"></script>
</div>
<script type="text/javascript">document.getElementById("allbottom").innerHTML = document.getElementById("tempallbottom").innerHTML;
document.getElementById("tempallbottom").innerHTML = "";</script>
</div>
</body>
</html>
